mark {
    color: inherit;
    background-color: #fff3a3;
    border-radius: 2px;
    padding: 0 0.15em;
}

.markdown-inner>ul:first-child {
    column-count: auto;
    column-gap: 10px;
    list-style-position: inside;
    column-width: 180px;
}


.markdown li>details {
    padding: 0.5rem;
    margin: 0rem 0;
}

li p {
    margin: 0;
}

.markdown-inner ul {
    margin-top: 4px;
    padding-inline-start: 1.2rem;
}

.markdown-inner ul li {
    margin-bottom: 4px;
}